.tableWrapper {
  overflow-x: auto;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table {
  width: 100%;
  font-size: 0.875rem;
  text-align: left;
  border-collapse: collapse;
  color:#333
}

.thead {
  background-color: #f9fafb;
  font-weight: 600;
  padding: 1rem;
}

.th {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e5e7eb;
  white-space: nowrap;
}

.tr {
  border-top: 1px solid #e5e7eb;
  transition: background-color 0.2s;
}

.tr:hover {
  background-color: #f3f4f6;
}

.td {
  padding: 0.5rem 1rem;
}

.ellipsis {
  overflow: hidden;             
  text-overflow: ellipsis;      
  white-space: nowrap;          
  max-width: 200px;
}

.selectedView{
  visibility: visible ! important;
  opacity: 1 ! important;
  transition: all 0.3s ease-in-out;
}


.actions{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}