.progress {
  width: 100%;
  height: 30px;
  background-color: #026b9f;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.progressBar {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    #067bb5,
    #025242,
    #045e8b,
    #2b7163
  );
  background-size: 200% 100%;
  animation: progressBar 2s linear infinite;
  border-radius: 6px;
}

@keyframes progressBar {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
