.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paginationBtn {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  color: #333;
  border: 1px solid gray;
}

.active {
  background-color: #00aaff;
  color: #fff;
}
.paginationBtn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.paginationBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
